@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components.Authorization
@using LiveWeather.Singletons
@inject UserStateManager User

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" Fixed="false">
        <!-- Project name button (LiveWeather) to the top-left corner with click event -->
        <MudButton Class="mud-button-text" Style="text-transform:none; color:#FFFFFF; font-size: 24px;" Edge="Edge.Start" OnClick="@NavigateToWelcome">
            LiveWeather
        </MudButton>

        <MudSpacer />

        <!-- Centered Navigation Menu only if logged in and NavMenu is enabled -->
        @if (User.IsLoggedIn() && showNavMenu)
        {
            <MudGrid Justify="Justify.Center">
                <MudItem>
                    <NavMenu />
                </MudItem>
            </MudGrid>
        }

        <MudSpacer />

        <!-- GitHub IconButton -->
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/dilanmelvin/LiveWeather.git" Target="_blank" />
    </MudAppBar>

    <MudDrawer @bind-Open="@drawerOpen" Elevation="1" Color="Color.Primary" @onopen="@OnDrawerOpen" @onclose="@OnDrawerClose">
        @if (isAuthenticated && showNavMenu)
        {
            <NavMenu />
        }
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a href="" class="dismiss">🗙</a>
</div>

@code {
    private bool drawerOpen = false;
    private bool isAuthenticated;
    private bool showNavMenu = true; // Control variable for NavMenu visibility

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity != null && authState.User.Identity.IsAuthenticated;

        // Make sure the nav menu is shown if authenticated
        if (isAuthenticated)
        {
            showNavMenu = true;
        }
    }

    private void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }

    private void OnDrawerOpen() { }

    private void OnDrawerClose() { }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToSignUp()
    {
        NavigationManager.NavigateTo("/signup");
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/logout");
    }

    private void NavigateToWelcome()
    {
        // Navigate to welcome page and hide NavMenu, but ensure it reappears after logging in
        showNavMenu = false;
        NavigationManager.NavigateTo("/welcome");
    }
}
